# dependencies
node_modules

# logs
npm-debug.log

# Nuxt build
.nuxt

# Nuxt generate
dist

.editorconfig

package-lock.json

functions/firebase-debug.log

.firebase/hosting.ZGlzdA.cache

report.20200422.222542.14612.0.001.json

sw.*