# dependencies
node_modules

# logs
npm-debug.log

# Nuxt build
.nuxt

# Nuxt generate
dist

# Google Search Console verification
static/google*.html

# Other
.editorconfig
package-lock.json
.firebase
report.20200422.222542.14612.0.001.json
sw.*
*.log
.vscode
.firebase