@import "./variables.scss";

@import "bulma/bulma";

.page-enter-active, .page-leave-active {
  transition: opacity .5s;
}
.page-enter, .page-leave-to {
  opacity: 0;
}
.has-text-weight-black {
  font-weight: 900 !important;
}
.is-padding-top-less {
  padding-top: 0;
}